.episodio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E67053;
    width: 600px;
    height: 200px;
    margin-top: 28px;
    margin-bottom: 10px;
    border: solid 5px;
    border-color: #011D33;
    border-radius: 50px;
    box-shadow: 0 0 5px 5px darkgrey;
}

.episodio:hover{
    transform: scale(1.025);
    background-color: #D73D19;
}