.title{
    background-color: #FEFDE8;
    color: #FEA600;
    font-size: 70px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 5px;
    border: solid 3px;
    border-color: #011D33;
    border-radius: 50px;
    box-shadow: inset 0 0 4px 4px #4F4F4F;
}