.title{
    background-color: #FEFDE8;
    color: #FEA600;
    font-size: 70px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    border: solid 5px;
    border-color: #011D33;
    border-radius: 50px;
}